/* Блочная модель языка CSS
Все HTML элемента могут быть представлены как блоки. Блочня модель языка CSS представляет собой дизайн и макет сайта.
Она состоит из внешних отступов, рамок, внутренних полей, и актуального контента.
Свойства работают в таком же порядке: верх, право, низ, лево
Термин "Блочная модель" используется при обсуждении дизайна и компоновки.
Каждый элемент веб-страницы является блоком.
CSS использует блочную модель для определения, насколько большой блок и как его разметить.
Блочная модель также используется для того, чтобы посчитать актуальную ширину и высоту HTML элементов.
Общая ширина элемента
При работе с блоками важно понимать, как считается общая ширина элемента.
Например, общая ширина блока с внутренними полями будет равна сумме ширины плюс левое внутреннее поле и правое внутреннее поле
Вот другой блок с внешними отступами, границей и внутренними полями. Общая ширина равна сумме левого и правого
внутреннего отступа, левой и правой границы, левого и правого внутреннего поля, и актуальной ширины контента.
При установке свойств ширины и высоты элементы с помощью CSS, вы устанавливаете ширину и высоту области контента.
При установке фонового цвета в блок, он покрывает область контента, вместе с внутренними полями.
Общая высота Элемента высчитывается таким же образом, как и ширина.
Для обобщения, общая высота элемента = высота + верхнее внутреннее поле + нижнее внутреннее поле + верхняя граница + нижняя граница +
+ верхний внешний отступ + нижний внешний отступ
CSS свойство border позволяет вам изменять вам изменять рамки HTML элементов.
Чтобы добавить рамку к элементу, вам необходимо определить размер, стиль и цвет рамки.
Свойства рамок могут быть установлены отдельно. Свойство border-width устанавливает ширину рамки.
Цвет рамки элементы может быть определен с помощью названия цвета, RGB, или шестнадцатеричного значения
Свойства рамки не будут работать, пока не будет установлено свойство border-style
Значением по умолчанию свойства border-style является none, которое определяется отсутствием рамки.
Существует несколько стилей, поддерживаемым свойством border-style:
dotted(точечный), dashed (пунктирный), double (двойной), и т.д.
В CSS возможно определить различные рамки для разых сторон, используя следующие свойства:
border-top-style (стиль верхней рамки), border-right-style (стиль правой рамки), border-bottom-style (стиль нижней рамки), border-left-style (стиль левой рамки)
Определение ширины и Высоты в CSS
Ширина и высота элемента может быть также присвоена с помощью использования процентов.
 */
p {padding: 10px; border: 5px solid darkred;}
p.first {padding: 10px; border-style: solid; border-width: 2px; border-color: firebrick;}
p.second {padding: 10px; border-style: solid; border-width: 5px; border-color: #000000;}
p.third {padding: 10px; border-style: solid; border-width: 2px; border-color: RGB(0,153,0);}
p.none {border-style: none;}
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.hidden {border-style: hidden;}
div {border: 5px solid green; width: 100%; height: 120px;}