/* CSS3  это свежия версия стандарта CSS. CSS3 полностью обратно совместим с более ранними версиями CSS.
Наиболее важными новыми особенностями являются:
Border radius (радиус рамки) - позволяет нам создавать закругленные углы для элементов
Border images (рисованная рамка) - позволяет нам отображать рисованную рамку вокруг элемента
Multiple backgrounds (множество фонов) - позволяет использовать множество фонов в элементе
Анимация и эффекты, и многое другое
Box-shadow - можно добавлять одну, или несколько теней к элементу, определяя значения для цвета, размера, размытия и растяжения
Градиенты - позволяют установить цвет фона элемента на градиент. Доступно два типа градиентов: Linear (линейный), Radial (радиальный).
Трансформация (Transform) позволяет вращать, масштабировать, двигать, смещать элементы
Переходы (transitions) которые позволяют вам создавать анимацию от одного значения свойства CSS к другому.
Вы можете комбинировать их с трансформацией и аниминировать позиционирование элементов, вращение, масштабиование.
Анимация (animation) имеет свои спецификации и позволяет вам создавать ключевые кадры (keyframes), устанавливать длительность, плавность, другое.
Вендорные префиксы CSS или префиксы браузера CSS являются приставками используемыми производителями (вендорами) браузеров для экспериментальных, еще не принятых в стандарт, CSS свойств.
Браузерные префиксы используются для добавления новых особенностей, которые могут не стать частью финальной и официальной спецификации CSS.
Например, перфиксом для Safari и Chrome является -webkit. Свойство border-radius в настоящее время поддерживается в Chrome, Safari, Mozilla, пока оно сопровождается префиксом браузера.
Префикс добавляется к свойству, чтобы оно работало в неподдерживаемых браузерах. Так что, возможно вы закончите с множественным определением одного и того же свойства, каждого префикса браузера.
Хотя большинство браузеров сегодня работают без префиксов, важно знать это для обратной совместимости и понимании старого кода.
Список вендорных префиксов для каждого браузера:
Firefox (-moz-); Safari, Chrome (-webkit-); Opera (-o-), IE (-ms)
С помощью CSS3, вы можете дать любому элементу element "закругленные углы" используя свойства border-radius
Специфические значения могут быть применены для свойства border-radius в следующем порядке:
верх-лево, верх-право, низ-право, низ-лево.
Значения свойства border-radius могут быть выражены в процентах.
Создание Окружности
Прямоугольник может быть превращен в окружность с помощью CSS/
Чтобы создать окружность, радиус рамки должен быть равен половине высоты и ширины.
СSS3 свойство box-shadow применяет к элементам тень.
Компоненты свойства box-shadow декодируется браузерами в следующей манере:
-Первая длина для горизонтального смещения вызовет тень справа от блока (значение обязательно)
-Вторая длина для вертикального смещения вызовет тень справа под блоком (значение обязательно)
-Цвет тени (значение опционально)
Для установки цвета, находятся два также опциональных значения для элемента box-shadow,
которыми являются blur (размытие), spread (растяжение).
Отрицательные значения могут также использоваться со свойством box-shadow
горизонтальное смещение - тень будет слева от блока
вертикальное смещение - тень будет над блоком
радиус размытия - отрицательное значение не допустимо
радиус растяжение - отрицательное значение вызовет сжатие тени
Клюевое слово "inset" позволяет рисовать внутреннюю тень в блоке.
Можно одновременно создать inner(внутреннюю) и outer(внешнюю) тени, разделяя каждую запятой.
Можно определить столько теней для одного и того же блока, сколько вы хотите, записав их
разделенными через запятую.
Дo CSS3, прозрачные фоновые изображения использовались для создания эффекта прозрачности.
Новые свойства CSS3 теперь позволяют создать эффект прозрачности намного легче.
CSS поддерживает названия цветов,шендацатеричные и RGB представления цвета.
Значение цвета RGBA значит следующее:
red,green,blue,alpha. Параметром альфа является число, лежащее от 0.0(полностью прозрачный)
до 1.0(полностью не прозрачный)
HSL (Hue(тон), Saturation(насыщеность), Lightness(Светлота)).
Тон это градус на цветовом колесе, варьирующийся от 0 до 360
0 (или 360) это красный, 120 это зеленый, 240 это синий.
Насыщенность это процентное значение:
100% значит полный цвет.
Светлота также является процентным значением; 0% это темный (черный) и 100% это белый.
Цветовые значени HSLA являются расширением цветовых значений HSL с альфа-каналом -
который определяет прозрачность для цвета (также как и в RGBA)
Свойство text-shadow определяет один и более эффектов тени, разделенных запятыми,
которые будут применины к текстовому содержимому текущего элемента.
Значения offset-x, offset-y обязательны для использования свойства text-shadow.
Значение color не является обязательным, но с тех пор, как значение по усолчанию стало
прозрачным, то тень не появится, пока не укажешь значение цвета.
Псевдоклассы начинаются с ":" наиболее часто используемые псевдоклассами являются
:first-child, :last-child
Псевдокласс :first-child находит любой элемент элемент, являющийся первым в своем родителе.
Псевдоэлементы:
::first-line - первая строка селектора
::first-letter - первая буква текста в селекторе
::selection - выбирает часть текста, которая указана пользователем
::before - вставляет некоторое содержимое до элемента
::after - вставляет некоторое содержимое после элемента
Градиенты в CSS3 отображают плавные переходы между двумя и более цветами.
В CSS3 определены два типа градиента: Linear(Линейный), Radial(радиальный).
Можно использовать названия цветов, шестнадцатеричные значения, RGB, HSl
Направление градиента может быть изменено.
left,right,top,bottom + комбинации (например bottom right)
угол градиента (вниз, вверх, вправо, влево, вниз и право и т.д.)
угол 0deg создает гридиент слева-направо, 90deg снизу-вверх
repeating-linear-gradient() - повторение линейного градиента
для создания радиального градиента вам необходимо по меньшей мере определить две
остановки цвета.
Радиальный градиент определяется с помощью его центра.
Синтаксис CSS для радиального градиента выглядит следующим образом:
background: radial-gradient(position, shape or size, color-stops);
установка формы радикального градиента через параментр shape
Положение Радиального градиента с background-position

 */
p.border-radius {position:fixed; border-radius: 20px; background-color: darkred; color: black;}
/* p.border-radius {position: fixed; border-radius: 0 0 20px 20px; background-color: darkred; color: black;} */
p.circle {
    width: 90px; height: 90px;
    border-radius: 45px;
    background-color: darkred; color: black;
    font-size: small; text-align: center;
}
div.box {
    width: 210px; height: 60px;
    background-color: darkred; color: red;
    box-shadow: inset 10px 10px 5px #888888, inset -10px -10px 5px #888888;
    font-size: small; text-align: center;
}

#bs {
    width: 210px; height: 60px;
    background-color: darkred; color: red;
    box-shadow: 0 0 10px 4px #FF6347, 0 0 10px 30px #FFDAB9, 30px 0 20px 30px #B0E0E6;
    font-size: small; text-align: center;
}
body {
    background: url("14.jpg"); background-repeat: no-repeat; background-attachment: fixed;
    text-shadow: 5px 2px 4px darkred; font-style: italic;
}
nav {
    padding: 50px 0;
    min-width: 500px;
    text-align: center;
    font-style: italic;
}
nav ul {
    background: linear-gradient(90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    padding: 10px;
    color: darkred;
    font-size: 18px;
    font-family: Arial;
    text-decoration: none;
    display: block;
}
h1 {
    text-shadow: 5px 10px 2px #93968f, -3px 6px 5px #58d1e3;
    text-align: center; font-style: italic; color: darkred;
}
#parent p:first-child {
    color: darkred;
    text-decoration: underline;
}
#parent p:last-child {
    color: darkred;
    text-decoration: darkred;
}
#parent {
    font-style: italic;
    font-size: 150%;
    text-align: center;
}
p::first-line {
    color: white;
}
.paragraph2::selection {
    background-color: red;
    color: white;
}
p {
    width: 210px;
    height: 100px;
    border: 1px solid #000000;
    word-wrap: break-word;
}
#linear {
    float: left; width: 300px; height: 100px;
    margin: 4px; color: #FFF;
    background: -moz-linear-gradient(blue 10%, yellow 20%, green, darkred 55%, white);
}
#lefttoright {
    float: left; width: 300px; height: 100px; margin: 4px; color: #FFF;
    background: -moz-linear-gradient(left, aqua, greenyellow, darkred);
}
#bottomtotop {
    float: left; width: 300px; height: 100px; margin: 4px; color: #FFF;
    background: -moz-linear-gradient(bottom, aqua, greenyellow, darkred);
}
#bottomleft {
    float: left; width: 300px; height: 100px; margin: 4px; color: #FFF;
    background: -moz-linear-gradient(bottom left, aqua, greenyellow, darkred);
}
#angle {
    float: left; width: 300px; height: 100px; margin: 4px; color: #FFF;
    background: -moz-linear-gradient(100deg, aqua, greenyellow, darkred);
}
#repeat {
    float: left; width: 300px; height: 100px; margin: 4px; color: #FFF;
    background: -moz-repeating-linear-gradient(darkred, greenyellow 20px);
}
#elipse {
    float: left; width: 200px; height: 150px; color: #FFF;
    background: -moz-radial-gradient(aqua, greenyellow, darkred);
}
#circle {
    float: left; width: 200px; height: 150px; color: #FFF;
    background: -moz-radial-gradient(circle, aqua, greenyellow, darkred);
}
#topleft {
    float: left; width: 200px; height: 150px; color: #FFF;
    background: -moz-radial-gradient(top left, aqua, greenyellow, darkred);
}
#percentages {
    float: left; width: 200px; height: 150px; color: #FFF;
    background: -moz-radial-gradient(aqua 5%, greenyellow 15%, darkred 60%);
}
#colorstop {
    float: left; width: 200px; height: 150px; color: #FFF;
    background: -moz-radial-gradient(circle, aqua 40%, greenyellow 50%, darkred 70%);
}
