/* CSS3  это свежия версия стандарта CSS. CSS3 полностью обратно совместим с более ранними версиями CSS.
Наиболее важными новыми особенностями являются:
Border radius (радиус рамки) - позволяет нам создавать закругленные углы для элементов
Border images (рисованная рамка) - позволяет нам отображать рисованную рамку вокруг элемента
Multiple backgrounds (множество фонов) - позволяет использовать множество фонов в элементе
Анимация и эффекты, и многое другое
Box-shadow - можно добавлять одну, или несколько теней к элементу, определяя значения для цвета, размера, размытия и растяжения
Градиенты - позволяют установить цвет фона элемента на градиент. Доступно два типа градиентов: Linear (линейный), Radial (радиальный).
Трансформация (Transform) позволяет вращать, масштабировать, двигать, смещать элементы
Переходы (transitions) которые позволяют вам создавать анимацию от одного значения свойства CSS к другому.
Вы можете комбинировать их с трансформацией и аниминировать позиционирование элементов, вращение, масштабиование.
Анимация (animation) имеет свои спецификации и позволяет вам создавать ключевые кадры (keyframes), устанавливать длительность, плавность, другое.
Вендорные префиксы CSS или префиксы браузера CSS являются приставками используемыми производителями (вендорами) браузеров для экспериментальных, еще не принятых в стандарт, CSS свойств.
Браузерные префиксы используются для добавления новых особенностей, которые могут не стать частью финальной и официальной спецификации CSS.
Например, перфиксом для Safari и Chrome является -webkit. Свойство border-radius в настоящее время поддерживается в Chrome, Safari, Mozilla, пока оно сопровождается префиксом браузера.
Префикс добавляется к свойству, чтобы оно работало в неподдерживаемых браузерах. Так что, возможно вы закончите с множественным определением одного и того же свойства, каждого префикса браузера.
Хотя большинство браузеров сегодня работают без префиксов, важно знать это для обратной совместимости и понимании старого кода.
Список вендорных префиксов для каждого браузера:
Firefox (-moz-); Safari, Chrome (-webkit-); Opera (-o-), IE (-ms)
С помощью CSS3, вы можете дать любому элементу element "закругленные углы" используя свойства border-radius
Специфические значения могут быть применены для свойства border-radius в следующем порядке:
верх-лево, верх-право, низ-право, низ-лево.
Значения свойства border-radius могут быть выражены в процентах.
Создание Окружности
Прямоугольник может быть превращен в окружность с помощью CSS/
Чтобы создать окружность, радиус рамки должен быть равен половине высоты и ширины.
СSS3 свойство box-shadow применяет к элементам тень.
Компоненты свойства box-shadow декодируется браузерами в следующей манере:
-Первая длина для горизонтального смещения вызовет тень справа от блока (значение обязательно)
-Вторая длина для вертикального смещения вызовет тень справа под блоком (значение обязательно)
-Цвет тени (значение опционально)
Для установки цвета, находятся два также опциональных значения для элемента box-shadow,
которыми являются blur (размытие), spread (растяжение).
Отрицательные значения могут также использоваться со свойством box-shadow
горизонтальное смещение - тень будет слева от блока
вертикальное смещение - тень будет над блоком
радиус размытия - отрицательное значение не допустимо
радиус растяжение - отрицательное значение вызовет сжатие тени
Клюевое слово "inset" позволяет рисовать внутреннюю тень в блоке.
Можно одновременно создать inner(внутреннюю) и outer(внешнюю) тени, разделяя каждую запятой.
Можно определить столько теней для одного и того же блока, сколько вы хотите, записав их
разделенными через запятую.
 */
p.border-radius {position:fixed; border-radius: 20px; background-color: darkred; color: black;}
/* p.border-radius {position: fixed; border-radius: 0 0 20px 20px; background-color: darkred; color: black;} */
p.circle {
    width: 90px; height: 90px;
    border-radius: 45px;
    background-color: darkred; color: black;
    font-size: small; text-align: center;
}
div.box {
    width: 210px; height: 60px;
    background-color: darkred; color: black;
    box-shadow: inset 10px 10px 5px #888888, inset -10px -10px 5px #888888;
    font-size: small; text-align: center;
}

div#bs {
    width: 210px; height: 60px;
    background-color: darkred; color: black;
    box-shadow: 0 0 10px 4px #FF6347, 0 0 10px 30px #FFDAB9, 30px 0 20px 30px #B0E0E6;
    font-size: small; text-align: center;
}
