/*Переходы в CSS3
transition-property - указывает свойство, к которомц будет применен переход
transition-duration - определяет продолжительность, в течение которой произойдет переход
transition-timing-function - определяет, как будет изменяться темп перехода во время его продолжительности
transition-delay - определяет задержку (в секундах) для эффекта перехода
Эффект перехода может быть применен к широкому множеству свойств CSS, включая
background-color, width, height, opacity.
Когда курсор выходит за пределы элемента, то он постепенно вернется к своему первоначальному размеру.
Свойство transition-timing-function определяет насколько быстро должно изменяться значение стилевого свойства,
для которого применяется значение стилевого текста
ease - анимация начинается медленно, потом ускоряется
ease-in - начинается медленно, затем ускоряется и останавливается резко
ease-out - начинается быстро, но замедляется до остановки
ease-in-out - похоже на ease, но с более тонким ускорением и замедлением
linear - постоянная скорость прохождения анимации; часто применяется для изменения цвета и прозрачности.
Если не определена функция, то значением по умолчанию является ease.
 */
body {
    background-color: #E6FF00; font-style: italic;
}
#tcube {
    width: 50px; height: 50px;
    background:-moz-linear-gradient(120deg ,magenta,black,black,magenta);
    transition: width 3s;
}
#tcube:hover {
    width: 300px;
}
h5 {
    width:300px; height:20px;
    text-align:center; color:#00F318;
    margin:-10px 0 0 0;
    background:-moz-linear-gradient(120deg ,magenta,black,black,magenta);
}
#b-rotate {
    width: 200px;
}